header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__image {
    height: 50px;
}

.header__text {
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

footer {
    margin-top: 20px;
}

.container-padding {
    padding: 30px calc(50% - 500px);
}

.container-shadow {
    box-shadow: 0 0 5px 0 #0006;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    text-align: center;
}

.card:hover {
    transform: scale(1.2, 1.2);
    transition: 1s linear;
    box-shadow: 0 0 5px 0 #0006, 0 0 15px 0 #0009;
}

.card__image {
    max-width: 240px;
    height: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .7;
}

.card:hover .card__image {
    opacity: 1;
    transition: 1s linear;
}

.card__rating {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.card__buttons {
    padding-top: 20px;
}

button {
    min-height: 30px;
    border-radius: 10px;
    border-width: 0;
    color: white;
    background-color: dodgerblue;
}

.card__edit-cat-button {
}

.card__delete-cat-button {
    background-color: darkmagenta;
}

.button_yes {
    min-width: 70px;
}

.button_no {
    min-width: 70px;
    background-color: darkmagenta;
}

.card__rating_star-image {
    height: 10px;
}

.modal-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0008;
}

.modal-popup_active {
    display: flex!important;
}

.modal-popup__content {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 0 50px;
    background-color: #fff;
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    max-width: 1000px;
}

.modal-popup__content__image {
    width: 100%;
}

.modal-popup__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url(img/close.png);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.modal-popup__message {
    margin-top: 45px;
}

.screen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.edit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px;
    padding: 100px;
    gap: 30px;
}

.form__user-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-name-error {
    display: none;
    color: red;
}

.user-name-error-active {
    display: flex;
}

.edit-cat-form__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
}

.long-input-field {
    width: 500px;
}

.edit-cat-form__buttons-block {
    padding-top: 40px;
}
